body {
  font-family: "Cabinet Grotesk", "Zen Kaku Gothic New", sans-serif;
}

main {
  line-height: 2;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: #fff;
  mix-blend-mode: exclusion;
}
footer {
  background-color: #101010;
  color: #ccc;
}

.globalNav__list a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1rem 0;
  font-weight: 300;
}

.header__title {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 300;
}

.heading {
  font-size: clamp(1.25rem, 4vw, 2rem);
  font-weight: 100;
  letter-spacing: 0.04em;
}

.heading.-center {
  text-align: center;
}
.heading.-right {
  text-align: right;
}
.headline {
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 100;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.sticky {
  position: sticky;
  top: 4rem;
}

.embed {
  height: calc(100vh - 8rem);
}
.embed.full {
  width: 100%;
}

.embed img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;
}

.menu__title {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  font-weight: 100;
  letter-spacing: 0.04em;
  line-height: 1.5;
}
.menu__meta {
  margin-top: auto;
}

.menu__meta > div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px dotted #ddd;
}

.horizontalScroll {
  overflow: hidden;
  position: relative;
}

.horizontalScroll__body {
  width: auto;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.horizontalScroll__item {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}
